<!-- TODO: Don't forget to extend the base template + add the content block + endblock! -->

{% extends "base.html" %}

{% block content %}

<h1 class="main-title">Account Details</h1>

<p>For a complete experience on this website, please enter your personal details in the form below:</p>

<form method="post" class="account-form" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="" class="form-label">Profile Pic</label>
    <img src="{{ user_image }}" alt="User Image">
  </div>
  <div class="mb-3">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="fname" value= "{{ fname }}" />
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="lname" value= "{{ lname }}">
  </div>
  <div class="mb-3">
    <label for="picture" class="form-label"> Profile Picture</label>
    <input type="file" class="form-control" id="pic" name="pic">
  </div>
  <button type="submit" src="./public/images/profile/profilepic" class="btn btn-primary">Save Details</button>
</form>
{% endblock %}
