<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="./public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Website CSS -->
  <link rel="stylesheet" type="text/css" href="./public/style.css">

  <title>BCR AI Chatbot</title>
  {% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div id="header-image"></div>
    </div>
    <!-- This is the menu -->
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/chat">Chat</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Left-side content -->
        <div class="content-box main-content">
            <h1 class="main-title">Homepage</h1>
            {% block content %}{% endblock %}
        </div>
      </div>
      <div class="col-md-4">
        <!-- Right side bar -->
        <div class="content-box" >
          <h4>Chat bot</h4>
            <p>Introducing the <b>revolutionary</b> and <b>enhanced</b> Chatbot!</p>
            <p>Unlock the extraordinary experience <a href="/chat">here</a> and witness its brilliance firsthand!</p>
        </div>
      </div>
    </div>
  </main>

  <!-- Include Bootstrap script -->
  <script src="./public/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>


