@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000cc;
    display: flex;
}

.side-bar {
    background-color: #27262687;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
    width: calc(100% - 244px); /* Adjust width based on sidebar width */
    padding: 50px; /* Add some padding for better spacing */
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    margin-top: 20px; /* Add some margin to separate from input */
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
    rgba(0,0,0,0.05) 0 -12px 30px,
    rgba(0,0,0,0.05) 0 4px 6px,
    rgba(0,0,0,0.05) 0 12px 3px,
    rgba(0,0,0,0.09) 0 -3px 5px;
}

input:focus {
    outline: none;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-bottom: 20px; /* Add some margin at the bottom of input container */
}

.input-container #submit {
    position: absolute;
    right: 0;
    bottom: 15px;
    cursor: pointer;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav {
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.history {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-grow: 1; /* Allow history section to grow and occupy remaining space */
    overflow-y: auto; /* Add scrollbar when content exceeds height */
    flex-direction: column;
    /* height: calc(100vh - 250px);  */
    /* overflow-y: auto;  */
}

.history p {
    cursor: pointer;
    padding: 8px 15px; /* Add padding to each history item */
    margin-bottom: 5px; /* Add some margin between history items */
    border-radius: 5px; /* Add border-radius for rounded corners */
    background-color: rgba(255, 255, 255, 0.2); /* Change background color */
}

.history p:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Change background color on hover */
}

.history-item {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.history-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}